/* test styling, adjust later  */

.competenciaForm {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px; 
    padding: 20px;
    border: 1px solid #1A45A3;
    border-radius: 5px;
    background-color: #F5F5F5;
}
  
.competenciaForm label {
    display: block;
    margin-bottom: 5px;
    color: #1A45A3;
    font-weight: bold;
  }
  
  .competenciaForm input[type="text"],
  .competenciaForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #1A45A3;
    border-radius: 3px;
  }
  
  .competenciaForm textarea {
    resize: vertical;
  }
  
  .competenciaForm button[type="submit"] {
    background-color: #1A45A3;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .competenciaForm button[type="submit"]:hover {
    background-color: #143A7E;
  }
  